<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="2.0.2" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="xamarinios10" />
</packages>